.surprise {
    display: none;
}

.surprise-1,
.surprise-2 {
    display: block; 
    position: fixed;
    background-color: #EFE6D6;
    color: black;
    width: 50vw;
    height: 100vh;
    z-index: 2;
    top: 0;
    pointer-events: none;
}

.surprise-1 {
    left: -50vw;
    transition: left 0.5s ease;
}

.surprise-2 {
    right: -50vw;
    transition: right 0.5s ease;
}

.gate1 {
    left: 0;
}

.gate2 {
    right: 0;
}


#text_tastat{
  position: absolute;
  font-family: 'Waiting for the Sunrise', cursive; 
  font-size:30px; 
  letter-spacing: 6px; 
  font-weight: bold;
  z-index: 4;
  color: #27221f;
}
